.login-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: white;
    width: 90vw;
    height: 60vh;
    border-radius: 8px;
}
.login-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 60vh;
    padding: 24px;
}

label,
input {
    display: block;
    width: 100%;
    min-width: 250px;
    margin: 0px auto;
}
.login-input {
    position: relative;
    padding: 20px 20px 10px 12px;
    background-color: rgb(204, 201, 201);
    border: none;
    border-radius: 4px;
    margin-top: 6px;
}
.username,
.password {
    position: relative;
}
#password {
    padding-right: 50px;
}
.login-input:focus ~ .placeholder,
.login-input:valid ~ .placeholder {
    font-size: x-small;
    font-weight: 800;
    color: black;
    top: 4px;
    left: 8px;
}
.placeholder {
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    color: gray;
    top: 12px;
    left: 15px;
    transition: all 0.2s ease;
    pointer-events: none;
}

#login-btn {
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
}

#logo {
    width: 300px;
    max-width: 100%;
    margin-bottom: 24px;
}

#password-eye {
    position: absolute;
    top: 16px;
    right: 12px;
}

.submit-btn-normal {
    height: 50px;
    width: 50px;
    padding: 14px 16px;
    border: 2px solid rgb(215, 209, 209);
    border-radius: 18px;
    color: rgb(199, 199, 199);
}
.submit-btn-valid {
    height: 50px;
    width: 50px;
    padding: 14px 16px;
    background-color: rgb(239, 32, 32);
    border-radius: 18px;
    color: white;
}
.submit-btn-valid:hover {
    background-color: rgb(194, 43, 43);
}
.submit-btn-valid:active {
    background-color: rgb(154, 52, 52);
}
.image{
    display: none;
    height: 100%;
    
}
.background-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media only screen and (min-width: 900px) {
    .login-box {
        height: 90vh;
        padding-left:24px;
    }
    .login-items{
        width: 30vw;
        margin: 24px;
    }
    .image{
        display: block;
    }
}

@media only screen and (min-width: 1500px) {
    .inputs{
        width: 80%;
    }
}